div{
	width:200px;
	height:200px;	
}
.verde{
	background-color:#b7d84b;
}
.azul{
	background-color:blue;
	position: absolute;
	margin-left: 200px;
}

.rojo{
	background-color:#ee3e64;
}
.amarillo{
	background-color:yellow;
}
